@media (max-width: 514px) {
    footer {
        height: 350px;
        .contenedor-logo-footer {
            width: 100%;
            display: grid;
            grid-template-rows: 1fr;
            justify-content: center;
        }

        .contenedor-direccion {
            display: none;
        }

        .form-suscripcion {
            display: none;
        }
    }
}