header {
    display: map-get($flexbox, displayflex);
    justify-content: map-get($flexbox, horizontal);
    align-items: top;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: fixed;
    width: 100%;
    height: 200px;
    padding-top: 20px;
    z-index: 2;

    .contenedor-logomarca {
        .logomarca {
            width: 100px;
            margin: 0;
            margin-top: -22px;
        }
    }

    .menu-navegable ul {
        list-style-type: none;
        display: map-get($menunav, display);
        text-transform: uppercase;
    }

    .menu-navegable li {
        margin-left: map-get($menunav, tamano);
        margin-right: map-get($menunav, tamano);
        font-size: map-get($menunav, tamano);
    }

    .menu-navegable a {
        text-decoration: map-get($menunav, decoration);
        color: map-get($menunav, color);
        font-weight: bold;

        &hover {
            text-decoration: map-get($menunav, decoration);
            color: map-get($menunav, color);
        }
    }
}

.onda-header {
    margin-top: -70px;
    position: fixed;
    z-index: 1;
}