header {
    display: map-get($flexbox, displayflex);
    justify-content: map-get($flexbox, horizontal);
    align-items: map-get($flexbox, vertical);
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 2;

    .logomarca {
        width: 100px;
        margin: 0;
    }

    .menu-navegable ul {
        list-style-type: none;
        display: map-get($menunav, display);
        text-transform: uppercase;
    }

    .menu-navegable li {
        margin-left: map-get($menunav, tamano);
        margin-right: map-get($menunav, tamano);
        font-size: map-get($menunav, tamano);
    }

    .menu-navegable a {
        text-decoration: map-get($menunav, decoration);
        color: map-get($menunav, color);
        font-weight: bold;

        &hover {
            text-decoration: map-get($menunav, decoration);
            color: map-get($menunav, color);
        }
    }
}

.onda-header {
    margin-top: -70px;
    position: fixed;
    z-index: 1;
}