main {
    .seccion1 {
        display: inline;
        text-align: center;
        z-index: 0;
        color: white;

        div {
            .h1-index {
                margin-top: 180px;
                color: white;
                background-color: black;
                display: inline-block;
                border-radius: 10px;
            }
        }

        div {
            .h2-index {
                @include textosindex (28px, black);
            }
        }

        div {
            .h3-index {
                @include textosindex (28px, black);
            }
        }

        .contenedor-presentacion {
            margin: auto;
            padding-top: 80px;
            padding-bottom: 50px;
            width: 80%;

            .texto-presentacion {
                @include textosindex (22px, none);
                text-shadow: 2px 1px 2px black;
                text-align: center;
            }
        }

        .div-boton {

            .boton-contacto {
                @include estiloboton;
            }
        }
    }

    .servicios {
        padding-top: 50px;

        .h2-servicios {
            color: white;
            font-family: 'Squada One', sans-serif;
            text-shadow: 1px 1px 1px black;

            .p-servicios {
                font-size: 80px;
                text-shadow: 1px 1px 1px black;
            }
        }
    }

    .seccion-nuestros-clientes {
        padding-top: 50px;
        padding-bottom: 50px;
        margin-top: 100px;

        div {
            .h2-nuestros-clientes {
                font-family: 'Squada One', sans-serif;
                font-size: 80px;
                text-shadow: 1px 1px 1px black;
                color: white;
            }
        }

        div {
            .carousel-inner {
                @include flexbox (flex, center);
                margin-left: -150px;
            }
        }
    }
}