@media (max-width: 514px) {
    main {
        .seccion1 {
            div {
                .h1-index {
                    margin-top: 60px;
                    background-color: rgba(0, 0, 0, 0);
                }
                .h2-index {
                    display: none;
                }
            }

            div {
                .h3-index {
                    display: none;
                }
            }
            .contenedor-presentacion {
                .texto-presentacion {
                    font-size: 27px;
                }
            }

        }

        .servicios {
            .h2-servicios {
                display: flex;
                justify-content: center;
            }

            .cartas-index-pc {
                display: none;
            }

            .cartas-index-mobile {
                display: flex;
                justify-content: center;
            }
        }

        .seccion-nuestros-clientes {
            div {
                .h2-nuestros-clientes {
                    text-align: center;
                }
            }

            div {
                .carousel-inner {
                    margin-left: -250px;
                    width: 150%;
                }
            }
        }
    }
}