@media (max-width: 514px) {
    header {
        background: none;
        margin: auto;

        .logomarca {
            display: none;
        }

        .nav-mobile {
            background-color: black;
            margin: auto;

            div {
                .logomarcamobile {
                    display: inline-block;
                    width: 50px;
                    height: 50px;

                    .logomarcamobile__img {
                        display: block;
                        max-width: 100%;
                    }
                }
            }
        }
    }

    main {
        .seccion1 {
            div {
                .h1-index {
                    margin-top: 60px;
                    background-color: rgba(0, 0, 0, 0);
                }

                .h2-index {
                    display: none;
                }
            }

            div {
                .h3-index {
                    display: none;
                }
            }

            .contenedor-presentacion {
                .texto-presentacion {
                    font-size: 27px;
                }
            }

        }

        .servicios {
            .h2-servicios {
                display: flex;
                justify-content: center;
            }

            .cartas-index-pc {
                display: none;
            }

            .cartas-index-mobile {
                display: flex;
                justify-content: center;
            }
        }

        .seccion-nuestros-clientes {
            div {
                .h2-nuestros-clientes {
                    text-align: center;
                }
            }

            div {
                .carousel-inner {
                    margin-left: -250px;
                    width: 150%;
                }
            }
        }
    }

    .main-nosotros {
        .seccion-nosotros {
            .contenedor-h2-nosotros {
                margin-top: -100px;
                display: grid;
                grid-template-rows: 1fr;
                text-align: center;
            }

            .staff {
                width: 80%;
                margin: auto;

                div {
                    div {
                        div {
                            div {
                                .titulos-tarjetas-staff {
                                    font-size: 30px;
                                    text-align: center;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .seccion-mvv {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .main-equipamiento {
        .contenedor-h1-equipamiento {
            display: flex;
            justify-content: center;
            text-align: center;

            .h1-equipamiento {
                font-size: 70px;
                margin-bottom: 30px;
                margin-top: -70px;
            }
        }

        .contenedor-parrafo-eq {
            @include flexbox (flex, center);

            .parrafo-eq {
                @include textosindex (27px, rgba(0, 0, 0, 0));
                text-align: center;
                text-shadow: 1px 1px 2px black;
                margin: auto;
                width: 90%;
                padding-bottom: 10px;
            }
        }

        .lista-equipamiento {
            display: none;
        }

        .galeria {
            display: none;
        }

        .galeria-mobile {
            display: grid;
            grid-template-rows: 6 1fr;
            width: 90%;
            margin: auto;
            gap: 20px;

            .galeria__item1 {
                .galeria__img__mobile {
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                    border-radius: 2px;
                    border: solid white 10px;
                }

                .p-galeria-mobile {
                    color: white;
                    font-size: 20px;
                    position: relative;
                    text-align: center;
                    background-color: black;
                }
            }

            .galeria__item2 {
                .galeria__img__mobile {
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                    border-radius: 2px;
                    border: solid white 10px;
                }

                .p-galeria-mobile {
                    color: white;
                    font-size: 20px;
                    position: relative;
                    text-align: center;
                    background-color: black;
                }
            }

            .galeria__item3 {
                .galeria__img__mobile {
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                    border-radius: 2px;
                    border: solid white 10px;
                }

                .p-galeria-mobile {
                    color: white;
                    font-size: 20px;
                    position: relative;
                    text-align: center;
                    background-color: black;
                }
            }

            .galeria__item4 {
                .galeria__img__mobile {
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                    border-radius: 2px;
                    border: solid white 10px;
                }

                .p-galeria-mobile {
                    color: white;
                    font-size: 20px;
                    position: relative;
                    text-align: center;
                    background-color: black;
                }
            }

            .galeria__item5 {
                .galeria__img__mobile {
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                    border-radius: 2px;
                    border: solid white 10px;
                }

                .p-galeria-mobile {
                    color: white;
                    font-size: 20px;
                    position: relative;
                    text-align: center;
                    background-color: black;
                }
            }

            .galeria__item6 {
                .galeria__img__mobile {
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                    border-radius: 2px;
                    border: solid white 10px;
                }

                .p-galeria-mobile {
                    color: white;
                    font-size: 20px;
                    position: relative;
                    text-align: center;
                    background-color: black;
                }
            }
        }
    }

    .main-packs {
        .section-packs {
            .contenedor-total-packs {
                .contenedor-h1-packs {
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    margin-right: 16px;
                    margin-top: -70px;
                }

                .contenedor-p1-packs {
                    @include flexbox (flex, center);

                    .p1-packs {
                        @include textosindex (27px, rgba(0, 0, 0, 0));
                        text-align: center;
                        text-shadow: 1px 1px 2px black;
                        margin: auto;
                        width: 90%;
                        padding-bottom: 10px;
                    }
                }

                .packs {
                    display: none;
                }
            }
        }

        section {
            .contenedor-h2-packs {
                display: flex;
                justify-content: center;
            }

            .contenedor-categorias {
                display: flex;
                align-items: center;
                flex-direction: column;
                margin: auto;
            }
        }
    }

    .packs-mobile {
        margin-top: 30px;
    }

    .main-packs {
        .section-packs {
            .contenedor-total-packs {
                .contenedor-h1-packs {
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    margin-right: 16px;
                    margin-top: -70px;
                }

                .contenedor-p1-packs {
                    @include flexbox (flex, center);

                    .p1-packs {
                        @include textosindex (27px, rgba(0, 0, 0, 0));
                        text-align: center;
                        text-shadow: 1px 1px 2px black;
                        margin: auto;
                        width: 90%;
                        padding-bottom: 10px;
                    }
                }

                .packs {
                    display: none;
                }
            }
        }

        section {
            .contenedor-h2-packs {
                display: flex;
                justify-content: center;
            }

            .contenedor-categorias {
                display: flex;
                align-items: center;
                flex-direction: column;
                margin: auto;
            }
        }
    }

    .packs-mobile {
        margin-top: 30px;
    }

    .main-postulate {
        div {
            .h1-postulate {
                text-align: center;
                padding-top: 50px;
            }
        }

        div {
            margin: auto;

            .p1-postulate {
                font-size: 27px;
                font-style: oblique;
                color: white;
                background-color: rgba(0, 0, 0, 0);
                width: 90%;
                margin: auto;
                text-align: center;
                margin-bottom: 30px;
            }
        }

        .contenedor-grilla-especialidades {
            display: none;
        }

        .contenedor-especialidades-mobile {
            display: flex;
            justify-content: center;
            margin: auto;
            align-items: center;

            div {
                div {
                    .img-carusel-mobile {
                        filter: brightness(50%);
                        margin: auto;
                        border: solid white 5px;
                        border-radius: 5px;
                    }

                    div {
                        .h2-carusel-mobile {
                            display: flex;
                            justify-content: center;
                            text-align: center;
                            text-shadow: 2px 2px 0px black;
                            font-size: 25px;
                            background-color: black;
                        }
                    }
                }
            }
        }
    }

    footer {
        height: 350px;

        .contenedor-logo-footer {
            width: 100%;
            display: grid;
            grid-template-rows: 1fr;
            justify-content: center;
        }

        .contenedor-direccion {
            display: none;
        }

        .form-suscripcion {
            display: none;
        }
    }
}