@media (max-width: 514px) {
    main {
        .seccion-nosotros {
            .contenedor-h2-nosotros {
                margin-top: -100px;
                display: grid;
                grid-template-rows: 1fr;
                text-align: center;
            }

            .staff {
                width: 80%;
                margin: auto;

                div {
                    div {
                        div {
                            div {
                                .titulos-tarjetas-staff {
                                    font-size: 30px;
                                    text-align: center;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .seccion-mvv {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
}