@media (max-width: 514px) {
    .main-packs {
        .section-packs {
            .contenedor-total-packs {
                .contenedor-h1-packs {
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    margin-right: 16px;
                    margin-top: -70px;
                }

                .contenedor-p1-packs {
                    @include flexbox (flex, center);

                    .p1-packs {
                        @include textosindex (27px, rgba(0, 0, 0, 0));
                        text-align: center;
                        text-shadow: 1px 1px 2px black;
                        margin: auto;
                        width: 90%;
                        padding-bottom: 10px;
                    }
                }

                .packs {
                    display: none;
                }
            }
        }

        section {
            .contenedor-h2-packs {
                display: flex;
                justify-content: center;
            }

            .contenedor-categorias {
                display: flex;
                align-items: center;
                flex-direction: column;
                margin: auto;
            }
        }
    }

    .packs-mobile {
        margin-top: 30px;
    }
}