@media (max-width: 514px) {
    .main-postulate {
        div {
            .h1-postulate {
                text-align: center;
                padding-top: 50px;
            }
        }

        div {
            margin: auto;

            .p1-postulate {
                font-size: 27px;
                font-style: oblique;
                color: white;
                background-color: rgba(0, 0, 0, 0);
                width: 90%;
                margin: auto;
                text-align: center;
                margin-bottom: 30px;
            }
        }

        .contenedor-grilla-especialidades {
            display: none;
        }

        .contenedor-especialidades-mobile {
            display: flex;
            justify-content: center;
            margin: auto;

            div {
                div {
                    .img-carusel-mobile {
                        filter: brightness(50%);
                        margin: auto;
                        border: solid white 5px;
                        border-radius: 5px;
                    }

                    div {
                        .h2-carusel-mobile {
                            display: flex;
                            justify-content: center;
                            text-align: center;
                            text-shadow: 2px 2px 0px black;
                            flex-wrap: wrap;
                            font-size: 25px;
                            background-color: black;
                        }
                    }
                }
            }
        }
    }
}